# includes:
# 	- parametersSchema.neon

# parameters:
# 	sfpPsrLog:
# 		type:
# 			contextTypeSpecifyingExtension:
# 				enabled: true

# services:
# 	-
# 		class: Sfp\PHPStan\Psr\Log\Reflection\PsrLogLoggerReflectionExtension
# 		tags:
# 			- phpstan.broker.methodsClassReflectionExtension
	# -
	# 	class: Sfp\PHPStan\Psr\Log\Type\ContextTypeSpecifyingExtension
	# 	arguments:
	# 		enabled: %sfpPsrLog.type.contextTypeSpecifyingExtension.enabled%
	# 		contextTypeProvider: @sfpPsrLogContextTypeProvider
	# 	tags:
	# 		# - phpstan.typeSpecifier.methodTypeSpecifyingExtension
	# 		- phpstan.broker.methodsClassReflectionExtension

	# sfpPsrLogContextTypeProvider :
	# 	class: Sfp\PHPStan\Psr\Log\TypeProvider\Psr3ContextTypeProvider
	# 	arguments:
	# 		exceptionClass: '\Throwable'

	# # BigQuery
	# 
	# sfpPsrLogContextTypeProvider :
	# 	class: Sfp\PHPStan\Psr\Log\TypeProvider\BigQueryContextTypeProvider
	# 	arguments:
	# 		schemaFile: %sfpPsrLog.typeProvider.bigQueryContextType.schemaFile%

	# - 
	# 	class: Sfp\PHPStan\Psr\Log\TypeConverter\BigQuery\GenericTableFieldSchemaJsonPayloadTypeConverter
