parametersSchema:
	sfpPsrLog: structure([
		enableContextRequireExceptionKeyRule: bool(),
		enableMessageStaticStringRule: bool(),
		reportContextExceptionLogLevel: schema(string(), nullable()),
		contextKeyOriginalPattern: schema(string(), nullable()),
		type: structure([
			contextTypeSpecifyingExtension: structure([
				enabled: bool()
			])
		]),
		typeProvider: structure([
			bigQueryContextType: structure([
				schemaFile: schema(string(), nullable())
			])
		])
	])
