parametersSchema:
	sfpPsrLog: structure([
		enableContextRequireExceptionKeyRule: bool(),
		enableMessageStaticStringRule: bool(),
		reportContextExceptionLogLevel: schema(string(), nullable()),
		contextKeyOriginalPattern: schema(string(), nullable()),
		enableContextTypeRule: bool()
	])
